n8n/chatwoot_to_lords_ai.json
{
  "name": "Chatwoot → Lords AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Chatwoot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "chatwoot-lords-ai"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-message-created",
              "leftValue": "={{ $json.event }}",
              "rightValue": "message_created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-incoming",
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-not-private",
              "leftValue": "={{ $json.private }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-messages",
      "name": "Filtrar Mensagens",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lords-ai:8000/api/v1/process-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"org_id\": \"cc000000-0000-0000-0000-000000000001\",\n  \"conversation_id\": String($json.conversation.id),\n  \"contact_phone\": $json.sender?.phone_number || $json.conversation?.meta?.sender?.phone_number || \"\",\n  \"contact_name\": $json.sender?.name || $json.conversation?.meta?.sender?.name || \"\",\n  \"message\": $json.content,\n  \"inbox_source\": $json.conversation?.channel || \"whatsapp\"\n}) }}",
        "options": {
          "timeout": 30000,
          "allowUnauthorizedCerts": false
        }
      },
      "id": "lords-ai-request",
      "name": "Lords AI - Processar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"ok\" }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"filtered\" }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-filtered",
      "name": "Responder Filtrado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 480]
    }
  ],
  "connections": {
    "Chatwoot Webhook": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens": {
      "main": [
        [
          {
            "node": "Lords AI - Processar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Filtrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lords AI - Processar": {
      "main": [
        [
          {
            "node": "Responder 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "lords-ai",
      "id": "1"
    }
  ],
  "triggerCount": 1
}
